.jfx-text-field{
	-fx-text-fill: #00358E;
	-jfx-focus-color: #0035FF;
	-fx-prompt-text-fill:#00358E;
}
.jfx-password-fiel{
	-fx-text-fill: #00358E;
	-jfx-focus-color: #0035FF;
	-fx-prompt-text-fill:#00358E;
}

.jfx-button{
	-fx-text-fill:white;
}
.hyperlink{
	-fx-text-fill:#00358E;
}